%h1=sprintf("Edit %s", @hotspot.category.capitalize)
.form
  =form_for :hotspot, :html => { :multipart => true, :role => "form" }, url: hotspots_path do |f|
    .form-body  
      - @error = @hotspot.errors.any? && @hotspot.errors[:image].any? ? @hotspot.errors[:image] : ''
      %div{:class => sprintf('form-group %s', !@error.empty? ? 'has-error' : '')}
        = f.label :image
        .input-group.input-icon.right
          - if !@error.empty?
            %i.fa.fa-exclamation.tooltips{:dataOriginalTitle=>@error, :dataContainer=>"body"}
          =f.file_field :image
      - @error = @hotspot.errors.any? && @hotspot.errors[:name].any? ? @hotspot.errors[:name] : ''
      %div{:class => sprintf('form-group %s', !@error.empty? ? 'has-error' : '')}
        = f.label :name
        .input-group.input-icon.right
          - if !@error.empty?
            %i.fa.fa-exclamation.tooltips{:dataOriginalTitle=>@error, :dataContainer=>"body"}
          =f.text_field :name, class: 'form-control input-medium'
      - @error = @hotspot.errors.any? && @hotspot.errors[:description].any? ? @hotspot.errors[:description] : ''
      %div{:class => sprintf('form-group %s', !@error.empty? ? 'has-error' : '')}
        = f.label :description
        .input-icon.right
          - if !@error.empty?
            %i.fa.fa-exclamation.tooltips{:dataOriginalTitle=>@error, :dataContainer=>"body"}
          =f.text_area :description, class: 'form-control col-md-12', style: 'resize: vertical'
      .form-group
        %label='Address'
        .input-icon.right
          %input.md-autocomplete-location.form-control.col-md-12{ :data => {:components => '{"latSelector":"[role=\"lat\"]","lngSelector":"[role=\"lng\"]"}'}, :type => 'text', :maxlength => '512', :autocomplete => 'off' }
          = f.hidden_field :lat, role: 'lat'
          = f.hidden_field :lng, role: 'lng'
    .form-actions
      = f.submit sprintf('Update %s',@hotspot.category.capitalize), :class => 'btn blue'
      = link_to 'Back', hotspot_path(@hotspot), class: 'btn default'