%h3.page-title 
  =sprintf("New \"%s\" Hotspot", params[:category].capitalize)
=form_for :hotspot, :html => { :multipart => true, :role => "form" }, url: hotspots_path do |f|
  = f.hidden_field :category, value: params[:category]
  .form-body  
    - @error = @hotspot.errors.any? && @hotspot.errors[:image].any? ? @hotspot.errors[:image] : ''
    %div{:class => sprintf('form-group %s', !@error.empty? ? 'has-error' : '')}
      = f.label :image
      .input-group.input-icon.right
        - if !@error.empty?
          %i.fa.fa-exclamation.tooltips{:data=>{:original=>{:title=>@error.join("\n")},:container=>"body"}}
        =f.file_field :image

    - @error = @hotspot.errors.any? && @hotspot.errors[:aditionnal_image1].any? ? @hotspot.errors[:aditionnal_image1] : ''
    %div{:class => sprintf('form-group %s', !@error.empty? ? 'has-error' : '')}
      = f.label :aditionnal_image1
      .input-group.input-icon.right
        - if !@error.empty?
          %i.fa.fa-exclamation.tooltips{:data=>{:original=>{:title=>@error.join("\n")},:container=>"body"}}
        =f.file_field :aditionnal_image1

    - @error = @hotspot.errors.any? && @hotspot.errors[:aditionnal_image2].any? ? @hotspot.errors[:aditionnal_image2] : ''
    %div{:class => sprintf('form-group %s', !@error.empty? ? 'has-error' : '')}
      = f.label :aditionnal_image2
      .input-group.input-icon.right
        - if !@error.empty?
          %i.fa.fa-exclamation.tooltips{:data=>{:original=>{:title=>@error.join("\n")},:container=>"body"}}
        =f.file_field :aditionnal_image2

    - @error = @hotspot.errors.any? && @hotspot.errors[:name].any? ? @hotspot.errors[:name] : ''
    %div{:class => sprintf('form-group %s', !@error.empty? ? 'has-error' : '')}
      = f.label :name
      .input-group.input-icon.right
        - if !@error.empty?
          %i.fa.fa-exclamation.tooltips{:data=>{:original=>{:title=>@error.join("\n")},:container=>"body"}}
        =f.text_field :name, class: 'form-control input-medium'

    - @error = @hotspot.errors.any? && @hotspot.errors[:is_primary].any? ? @hotspot.errors[:is_primary] : ''
    %div{:class => sprintf('form-group %s', !@error.empty? ? 'has-error' : '')}
      = f.label :is_primary
      .input-group.input-icon.right
        - if !@error.empty?
          %i.fa.fa-exclamation.tooltips{:data=>{:original=>{:title=>@error.join("\n")},:container=>"body"}}
        =f.check_box :is_primary, class: 'icheck'

    - @error = @hotspot.errors.any? && @hotspot.errors[:phone].any? ? @hotspot.errors[:phone] : ''
    %div{:class => sprintf('form-group %s', !@error.empty? ? 'has-error' : '')}
      = f.label :phone
      .input-group.input-icon.right
        - if !@error.empty?
          %i.fa.fa-exclamation.tooltips{:data=>{:original=>{:title=>@error.join("\n")},:container=>"body"}}
        =f.telephone_field :phone, class: 'form-control input-medium'

    - @error = @hotspot.errors.any? && @hotspot.errors[:site].any? ? @hotspot.errors[:site] : ''
    %div{:class => sprintf('form-group %s', !@error.empty? ? 'has-error' : '')}
      = f.label :site
      .input-group.input-icon.right
        - if !@error.empty?
          %i.fa.fa-exclamation.tooltips{:data=>{:original=>{:title=>@error.join("\n")},:container=>"body"}}
        =f.text_field :site, class: 'form-control input-medium'

    - @error = @hotspot.errors.any? && @hotspot.errors[:description].any? ? @hotspot.errors[:description] : ''
    %div{:class => sprintf('form-group %s', !@error.empty? ? 'has-error' : '')}
      = f.label :description
      .input-icon.right
        - if !@error.empty?
          %i.fa.fa-exclamation.tooltips{:data=>{:original=>{:title=>@error.join("\n")},:container=>"body"}}
        =f.text_area :description, class: 'form-control col-md-12', style: 'resize: vertical'
    
    .form-group
      = f.label :address
      .map-wrapper{:style=>'width:100%;height:500px',:data =>{:zoom=>{:control=>"true","control-options"=>"{\"style\":\"maps.ZoomControlStyle.MEDIUM\",\"position\":\"maps.ControlPosition.LEFT_TOP\"}"},:custom=>{:controls=>'[{"type":"searchInput","selector":".search","position":"TOP_LEFT"}]',:center=>[@hotspot.lat,@hotspot.lng].to_json}}}
        .map{:style=>'width:100%;height:100%'}
        .input-icon.right.search{:style=>'width: 100%;'}
          =f.text_field :address, {:class => 'form-control col-md-12', :data => {:components => {latSelector:"[role=\"lat\"]",lngSelector:"[role=\"lng\"]"}.to_json }, :maxlength => '512', :autocomplete => 'off' }
          = f.hidden_field :lat, role: 'lat'
          = f.hidden_field :lng, role: 'lng'
  .form-actions
    = f.submit 'Save', :class => 'btn blue'
    = link_to 'Back', hotspots_path, class: 'btn default'