%h3.page-title
  = 'What`s on'
  %a{:style=>'float: right;',:class => 'btn primary blue left',:href => new_whats_on_path}= 'Add'
.row.mix-grid.whatsOns
  - @whatsOns.each do |whatsOn|
    .col-md-3.col-sm-4.mix.mix_all.category_1{:style => 'margin: 10px; position: relative;'}
      = link_to whats_on_path(whatsOn) do
        %span{style:'position:absolute;color:white;font-size:24px;left:30px;top:10px;text-shadow:1px 1px 2px black;'}
          = whatsOn.name
        -if whatsOn.is_primary
          %span{style:'position: absolute;color:white;right:-20px;top:20px;text-shadow:1px 1px 2px black;'}
            %i.fa.fa-check{style:'font-size: 40px;'}
        = image_tag whatsOn.whatsOn_images[0].file.url(:medium).gsub(/^\w+/, '') if whatsOn.whatsOn_images.any?
      %p{style:'width: 275px;margin: 0;height: 75px;'}
        = whatsOn.tagline
