!!!
%html{:lang => 'en'}
  = render 'partial/head'
  %body.page-boxed.page-header-fixed.page-container-bg-solid.page-sidebar-closed-hide-logo
    = render 'partial/header'
    .clearfix
    .container
      .page-container
        = render 'partial/sidebar'
        .page-content-wrapper
          .page-content
            .row
              .col-md-12
                = yield
    = render 'partial/footer'
    = render 'partial/scripts'
